#mottoContainer{
	background-repeat:no-repeat;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/img/careers-banner.png");
	background-position:center;
	background-size: cover;
	height:100vh;
	overflow:hidden;
}
/*
#mottoText{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height:100%;
}
*/
#mottoLogo{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height:100%;
}

#mottoLogoImg{
	height: 100%;
	width:auto;
}
