<div class="container-fluid">
	<!-- Header Content -->
	<div class="row text-center">
		<div class="col-sm-12">
			<h1>Our Vision</h1>
			<p class="highlight-quote">To help reduce surplus food waste by providing hungry customers with a convenient and affordable solution.</p>
			<hr class="header-underline">
		</div>
	</div>

	<!-- Body Content -->
	<div class="row">
		<div class="text-center center-block">
			<div class="col-sm-offset-1 col-sm-10">
				<div class="col-sm-4 aboutus-media">
					<div class="pull-left media-icon">
						<i class="fa fa-usd"></i>
					</div>
					<div class="media-title">
						<h3>Affordable</h3>
					</div>
					<div class="media-content">
						<p>Food items will be heavily discounted regularly, to give you the best and freshest deals so you don’t have to worry about breaking the bank.</p>
					</div>
				</div>
				<div class="col-sm-4 aboutus-media">
					<div class="pull-left media-icon">
						<i class="fa fa-map-marker"></i>
					</div>
					<div class="media-title">
						<h3>Accessible</h3>
					</div>
					<div class="media-content">
						<p>Find and connect with restaurants, bakeries and food shops closest to you, here’s a great chance to try something new!</p>
					</div>
				</div>
				<div class="col-sm-4 aboutus-media">
					<div class="pull-left media-icon">
						<i class="fa fa-envira"></i>
					</div>
					<div class="media-title">
						<h3>Environmental</h3>
					</div>
					<div class="media-content">
						<p>Eat more and feel even better, help tackle the food waste crisis by saying yes to surplus food and no to food waste!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>