<div class="container-fluid text-center">
	<div class="row col-md-12">

		<div class="row">
			<h2 class="oswald-text m-text-padding">The most <span class="highlight-quote-light">innovative</span> way to dine</h2>
			<p class="pad-paragraph col-md-offset-2 col-md-8 col-sm-12 font-grey m-text-padding">Experience the exclusive restaurant deals offered on Bitelist around Toronto. Get the app on iPhone today and be on the lookout for real-time deals offered near your location!</p>
		</div>
		
		<div class="row">
			<img class="app-img pad-picture-md pad-picture-sm" src="/img/index/bitelist-01.jpg"></img>
		</div>
	</div>
</div>