<div class="container-fluid">
    <div class="row col-md-12">
       
        <div class="row">
            <h2 class="text-center oswald-text">Contact Us</h2>
            <p class="pad-paragraph-sm col-md-12 col-sm-12 font-grey m-text-padding text-center">Let us know what we can do to better satisfy your appetite!</p>
        </div>

        <form>
            <div class="col-sm-offset-1 col-sm-10">
                <div class="row">
                    <input class="contact-us-input" type="text" id="indexContactusName" ng-model="main.indexContactusName" placeholder="Name" required>
                </div>
                <div class="row">
                    <input class="contact-us-input" type="text" id="indexContactusEmail" ng-model="main.indexContactusEmail" placeholder="E-mail" required>
                </div>
                <div class="row">
                    <textarea class="contact-us-textarea" id="indexContactusMessage" ng-model="main.indexContactusMessage" placeholder="Message" required></textarea>
                </div>

                <button class="row contact-us-button contact-us-button-pos" type="button" ng-click="main.submitContactUs()">Send</button>
            </div>
        </form>
    </div>
</div>
