<div class="container-fluid">
	<div class="col-sm-offset-1 col-sm-4">
		<img class="img-responsive" src="/img/index/nightFoodieApp.png" alt="Night Foodie App"></img>
	</div>
	<div class="col-sm-6 text-center">
		<h1>Get Started</h1>
		<p class="aboutus-content-font highlight-quote">Get Night Foodie for your phone FREE!</p>
		<hr class="header-underline">
		<p>Get full access to all our participating retailer's deals and promotions! Be a part of the growing community aimed towards reducing surplus food all whilst eating healthy at an affordable price!</p>
		<p>Night Foodie for your Android, iPhone and tablet devices brings an innovative way to find food.</p>

		<!-- Download from App Stores -->
		<!--TEMPORARY -->
		<h2>Coming Soon!</h2>
		<div class="row">
			<a class="col-sm-offset-3 col-sm-3">
				<img class="img-responsive" src="/img/index/appStore.png" alt="Get it on the App Store"></img>
			</a>
			<a class="col-sm-3">
				<img class="img-responsive" src="/img/index/googlePlayStore.png" alt="Get it on Google Play Store"></img>
			</a>
		</div>

		<p class="highlight-quote pad-paragraph">See what deals are around you today!</p>
	</div>
</div>