<div class="container-fluid">
	<!-- Title -->
	<div class="col-sm-12 col-md-offset-5 col-md-6 text-center">
		<h1>Get Started</h1>
		<p class="aboutus-content-font highlight-quote-light">Get Night Foodie for your phone FREE!</p>
		<hr class="header-underline">
	</div>
	
	<div class="col-sm-12 col-md-offset-1 col-md-3">
		<img class="img-responsive" src="/img/index/nightFoodieApp.png" alt="Night Foodie App"></img>
	</div>
	<div class="col-sm-12 col-md-offset-1 col-md-6 text-center">
		<p class="mobile-pad-paragraph">Get full access to all our participating retailer's deals and promotions! Be a part of the growing community aimed towards reducing surplus food all whilst eating healthy at an affordable price!</p>
		<p class="pad-paragraph">Night Foodie for your Android, iPhone and tablet devices brings an innovative way to find food.</p>

		<!-- Download from App Stores -->
		<!--TEMPORARY -->
		<h2 class="pad-paragraph">Coming Soon!</h2>
		<div class="row">
			<a class="col-sm-6 col-md-offset-3 col-md-3">
				<img class="img-responsive" src="/img/index/appStore.png" alt="Get it on the App Store"></img>
			</a>
			<a class="col-sm-6 col-md-3">
				<img class="img-responsive" src="/img/index/googlePlayStore.png" alt="Get it on Google Play Store"></img>
			</a>
		</div>

		<p class="highlight-quote-light pad-paragraph">See what deals are around you today!</p>
	</div>
</div>