<!-- Title -->
<div class = "row info-section-row-margin">
	<div class = "col-md-4 col-sm-12"><!--Sidebar(4)image(8)-->

		<div class="col-sm-offset-1">
			<img src = "/img/index/bitelist-01.png" class ="app-img mobile-app-margin">
			<h2 class = "oswald-text">GRAB A BITELIST</h2>
			<p class="aboutus-content-font highlight-quote-light">This is the future.</p>
		</div>

		<div class="col-sm-offset-1">
			<!--description-->
			<p class="pad-paragraph">The revolutionary deal finding app locates every bargain in Downtown Toronto and puts in right in your hands!</p>
			<!-- Download from App Stores -->
			<a class="col-md-6 col-sm-3 mobile-app-padding-erase" href ="google.com">
				<img class="img-responsive" src="/img/index/appStore.png" alt="Get it on the App Store">
			</a>
			<!--Extra ending information to add-->	
			<p class="highlight-quote-light pad-paragraph"></p>
		</div>

	</div><!--side section-->

	<div class= "col-md-8 mobile-app-image hidden-sm"></div><!--side image-->
</div>