<div id="navbar-snap"></div>

<div class="fade hidden-xs" id="motto" ng-include src ="'/views/index/partials/motto.html'" ng-fade-in-element>
</div>

<div class="nav-background-height" ng-include="'views/index/partials/homeNavbar.html'" id="navbar">
</div>

<section class="fade" ng-include="'views/index/partials/aboutus.html'" id="aboutus" ng-fade-in-element>
</section>

<section class="section-colour fade" ng-include="'views/index/partials/ourProduct.html'" id="product" ng-fade-in-element>
</section>

<section class="resumeBackground fade" ng-include="'views/index/partials/sample.html'" id="samples" ng-fade-in-element>
</section>

<section class="section-colour fade" ng-include="'views/index/partials/aboutus.html'" id="theteam" ng-fade-in-element>
</section>

<section class="fade" ng-include="'views/index/partials/aboutus.html'" id="payment" ng-fade-in-element>
</section>

<section class="section-colour fade" ng-include="'views/index/partials/contactUs.html'" id="contactus" ng-fade-in-element>
</section>

<div ng-include="'views/index/partials/homeFooter.html'" id="footer" ng-fade-in-element>
</div>
