<div class="fade" id="motto" ng-include src ="'/views/index/partials/motto.html'" ng-fade-in-element>
</div>

<div ng-include="'views/index/partials/homeNavbar.html'" id="navbar">
</div>

<div id="navbar-start-section"></div>

<section class="fade" ng-include="'views/index/partials/aboutus.html'" id="aboutus" ng-fade-in-element>
</section>

<div class="info-section-1 fade" ng-include="'views/index/partials/info1.html'" id="info1" ng-fade-in-element>
</div>

<section class="section-colour fade no-padding-bottom" ng-include="'views/index/partials/getStarted.html'" id="product" ng-fade-in-element>
</section>

<div class="fade" ng-include="'views/index/partials/info2.html'" id="info2" ng-fade-in-element>
</div>

<section class="fade" ng-include="'views/index/partials/contactUs.html'" id="contactus" ng-fade-in-element>
</section>

<div class="info-section-3 fade" ng-include="'views/index/partials/info3.html'" id="info3" ng-fade-in-element>
</div>

<div ng-include="'views/index/partials/homeFooter.html'" id="footer" ng-fade-in-element>
</div>
