<footer class="footer-default-1">
	<div class="container-fluid">
		<div class="col-sm-offset-1 footer-col col-sm-2 footer-left">
			<h3 class="footer-header">Lorem Ipsum</h3>
			<p class="footer-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
		<div class="footer-col col-sm-3 footer-left">
			<h3 class="footer-header">Night Foodie</h3>
			<p class="footer-content">Duis feugiat lacus sed quam molestie, ac faucibus lectus cursus. Quisque posuere est at urna sagittis dictum. Nunc vulputate magna dolor, nec ultricies nisl ornare iaculis. Suspendisse faucibus eget elit et rutrum.</p>
		</div>
		<div class="footer-col col-sm-5 col-sm-offset-1">
           	<h3 class="footer-header">Social Media</h3>
            <ul class="list-inline">
            	<li>
                	<a class="btn-social circle-outline"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a class="btn-social circle-outline"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a class="btn-social circle-outline"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a class="btn-social circle-outline"><i class="fa fa-tumblr"></i></a>
                </li>
                <li>
                    <a class="btn-social circle-outline"><i class="fa fa-youtube"></i></a>
                </li>
                <li>
                    <a class="btn-social circle-outline"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
	</div>
</footer>
<footer class="footer-default-2">
    <div class="container-fluid">
        <p class="footer-content col-sm-offset-1 col-sm-8">Copyright © 2016 - All Rights Reserved</p>
    </div>
</footer>