<div class="navbar-fixed-top" id="navbar-landing">
	<nav class="navbar navbar-default lvl-dp-1 navbar-fixed-top navbar-transparent" id="navbar-display" snapid="navbar-snap" ng-fade-navbar="navbar-cover">		

		<!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">

	    	<!-- Attach Logo -->
			<img class="navbar-logo" src="/img/index/bitelist-01-transparent.png"></img>
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-content-collapse">
	    		<span class="sr-only">Toggle navigation</span>
	    		<span class="icon-bar navbar-toggle-span"></span>
	    		<span class="icon-bar navbar-toggle-span margin-toggle-span"></span>
	    		<span class="icon-bar navbar-toggle-span margin-toggle-span"></span>
	    	</button>
	    </div>

		<!-- Navbar Items -->
		<div class="collapse navbar-collapse navbar-content-collapse" ng-close-menu>
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a ng-scroll-smooth="aboutus">About Us</a>
				</li>
				<li class="nav-item">
					<a ng-scroll-smooth="product">Get Started</a>
				</li>
				<li class="nav-item">
					<a ng-scroll-smooth="contactus">Contact Us</a>
				</li>
			</ul>
		</div>
	</nav>
</div>