<footer class="footer-default-1">
	<div class="container-fluid">
		<div class="col-sm-offset-0 footer-col col-sm-12 col-md-2 footer-left">
            <img class="col-sm-2 col-md-6" src="/img/nightfoodie.jpg"></img>
        </div>

		<div class="footer-col col-sm-12 col-md-offset-5 col-md-2 footer-left">
			<h3 class="footer-header">Night Foodie</h3>
			<p class="footer-content">info@nightfoodie.me</p>
		</div>

		<div class="footer-col col-sm-12 col-md-3">
           	<h3 class="footer-header">Social Media</h3>
            <ul class="list-inline">
            	<li>
                	<a class="btn-social circle-outline" href="https://www.facebook.com/nightfoodieTO/?__mref=message_bubble"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a class="btn-social circle-outline"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a class="btn-social circle-outline"><i class="fa fa-twitter"></i></a>
                </li>
                <!--
                <li>
                    <a class="btn-social circle-outline"><i class="fa fa-tumblr"></i></a>
                </li>
                <li>
                    <a class="btn-social circle-outline"><i class="fa fa-youtube"></i></a>
                </li>
                -->
                <li>
                    <a class="btn-social circle-outline" href="https://www.linkedin.com/company/nightfoodie"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
	</div>
</footer>
<!--
<footer class="footer-default-2">
    <div class="container-fluid">
        <p class="footer-content col-sm-offset-1 col-sm-8">Copyright © 2016 - All Rights Reserved</p>
    </div>
</footer>
-->