<div class="text-center">
	<div class="info-section-2">
		<div class="col-sm-6 info-section-2-food">
			<div class="info-section-2-food-overbox">
				<div class="info-section-2-content-pic-title info-section-2-textslider">Food</div>
				<div class="info-section-2-content-pic-text info-section-2-textslider">Get notified of the latest deals near you!</div>
			</div>
		</div>
		<div class="col-sm-6 info-section-2-content1">
			<p class="info-section-2-content-text">Food</p>
		</div>
	</div>
	<div class="info-section-2">
		<div class="col-sm-6 info-section-2-content2">
			<p class="info-section-2-content-text">Partners</p>
		</div>
		<div class="col-sm-6 info-section-2-ingredient">
			<div class="info-section-2-ingredient-overbox">
				<div class="info-section-2-content-pic-title info-section-2-textslider">Partners</div>
				<div class="info-section-2-content-pic-text info-section-2-textslider">Let us know if you'd like to be a part of the Night Foodie retail community!</div>
			</div>
		</div>
	</div>
</div>