<div class="text-center">
	<div class="info-section-2">
		<div class="col-sm-6 info-section-2-food">
			<div class="info-section-2-food-overbox">
				<div class="info-section-2-content-pic-title info-section-2-textslider">Lorem Ipsum</div>
				<div class="info-section-2-content-pic-text info-section-2-textslider">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec arcu velit. Nam porta elit in consequat blandit. Nunc lobortis a erat sed vestibulum. Nunc at fringilla enim. Nunc tortor lorem, posuere id purus quis, pulvinar volutpat nisi. Donec quam urna, rutrum eleifend nisl tincidunt, consectetur luctus risus.</div>
			</div>
		</div>
		<div class="col-sm-6 info-section-2-content1">
			<p class="info-section-2-content-text">Food</p>
		</div>
	</div>
	<div class="info-section-2">
		<div class="col-sm-6 info-section-2-content2">
			<p class="info-section-2-content-text">Partners</p>
		</div>
		<div class="col-sm-6 info-section-2-ingredient">
			<div class="info-section-2-ingredient-overbox">
				<div class="info-section-2-content-pic-title info-section-2-textslider">Lorem Ipsum</div>
				<div class="info-section-2-content-pic-text info-section-2-textslider">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec arcu velit. Nam porta elit in consequat blandit. Nunc lobortis a erat sed vestibulum. Nunc at fringilla enim. Nunc tortor lorem, posuere id purus quis, pulvinar volutpat nisi. Donec quam urna, rutrum eleifend nisl tincidunt, consectetur luctus risus.</div>
			</div>
		</div>
	</div>
</div>