<div class = "row">
	<div class ="col-md-offset-8 col-md-4 col-sm-12 info-right">
		<img src="/img/info2_2.jpg" class="info-section-0-image1">
		<div class = "info-section-0-content ">
			<h3 class = "info-0-header">Seek new places to eat!</h3>
			<p class ="info-0-content-text font-grey">Select the place to eat  Experience the exclusive restaurant deals offered on Bitelist around Toronto. Get t</p>
		</div>
	</div>
</div>

<div class ="row">
	<div class ="col-md-4 info-section-content hidden-sm info-section-0-comment">
		<h1>HELLO EVerefe</h1>
		<p>how are you  Experience the exclusive restaurant </p>
	</div>
	<div class ="col-md-offset-4 col-md-4 col-sm-12 info-right">
		<img src="/img/info2_2.jpg" class="info-section-0-image1">

		<div class = "info-section-0-content ">
			<h3 class = "info-0-header">Seek new places to eat!</h3>
			<p  class ="info-0-content-text font-grey">Select the place to eat.  Experience the exclusive restaurant deals offered on Bitelist around Toronto. Get the app on iPhone today and be on the lookout for real-time deals offered near your location!</p>
		</div>
	</div>
</div>

<div class = "row">
	<div class ="col-md-offset-8 col-md-4 col-sm-12 info-right">
		<img src="/img/info2_2.jpg" class="info-section-0-image1">

		<div class = "info-section-0-content ">
			<h3 class = "info-0-header">Seek new places to eat!</h3>
			<p  class ="info-0-content-text font-grey">Select the place to eat.</p>
		</div>
	</div>
</div>
	