<div class="text-center">
	<div class="info-section-2">
		<div class="col-sm-6 info-section-2-food">
			<div class="info-section-2-food-overbox">
				<div class="info-section-2-content-pic-title info-section-2-textslider">Food</div>
				<div class="info-section-2-content-pic-text info-section-2-textslider">Get notified of the latest deals near you! Explore Toronto's rich diversity of taste at an affordable price. Deals are always changing to give your taste buds a chance to a new experience everyday!</div>
			</div>
		</div>
		<div class="col-sm-6 info-section-2-content1">
			<p class="info-section-2-content-text">Food</p>
		</div>
	</div>
	<div class="info-section-2">
		<div class="col-sm-6 info-section-2-content2">
			<p class="info-section-2-content-text">Partners</p>
		</div>
		<div class="col-sm-6 info-section-2-ingredient">
			<div class="info-section-2-ingredient-overbox">
				<div class="info-section-2-content-pic-title info-section-2-textslider">Partners</div>
				<div class="info-section-2-content-pic-text info-section-2-textslider">Let us know if you'd like to be a part of the Night Foodie retail community! Night Foodie offers a centralized way to promote your store's deals. You'll also be helping reduce surplus food as an added benefit!</div>
			</div>
		</div>
	</div>
</div>