<div id="mottoContainer" class="container-fluid">
	<div class="intro-pitch">
		<div class="col-md-12" id="mottoText">
			<h1 id="intro-msg1">Get access to cuisine deals anytime, <span class="highlight-quote">anywhere</span>.</h1>
			<p id="intro-msg2">Find instant promotions near your location</p>
		</div>
		<div class="col-md-12" id="mottoLink">
			<a class="button button-getapp lvl-dp-1" ng-scroll-smooth="product"><i class="fa fa-mobile" aria-hidden="true"></i> Coming Soon!</a>
			<p class="italic-paragraph app-disclaimer">Night Foodie use currently only available in the Greater Toronto Area</p>
		</div>
	</div>
</div>
