<div class="container-fluid">
	<div class="row">
		<h2 class="oswald-text text-center">Partners</h2>
		<hr class="header-underline">
	</div>

	<!-- List of Logos -->
	<div class="col-md-4 col-sm-6">
		<img class="img-scale-to-col" src="/img/logos/kgrill-logo.png">
	</div>
	<div class="col-md-4 col-sm-6">
		<img class="img-scale-to-col" src="/img/logos/freshii-logo.png">
	</div>
	<div class="col-md-4 col-sm-6">
		<img class="img-scale-to-col" src="/img/logos/buna-kitchen-logo.png">
	</div>
	<div class="col-md-4 col-sm-6">
		<img class="img-scale-to-col" src="/img/logos/oniwa-logo.png">
	</div>
	<div class="col-md-4 col-sm-6">
		<img class="img-scale-to-col" src="/img/logos/what-a-bagel-logo.png">
	</div>
	<div class="col-md-4 col-sm-6">
		<img class="img-scale-to-col" src="/img/logos/pearl-king-logo.png">
	</div>
	<div class="col-md-4 col-sm-6">
		<img class="img-scale-to-col" src="/img/logos/briyani-indian-house-logo.png">
	</div>
	<div class="col-md-4 col-sm-6">
		<img class="img-scale-to-col" src="/img/logos/maki-my-way-logo.png">
	</div>
	<div class="col-md-4 col-sm-6">
		<img class="img-scale-to-col" src="/img/logos/longos-logo.jpg">
	</div>
</div>