<div class="container-fluid">
	<form class="form-horizontal">
		<div class="jumbotron text-center">
			<h1>LOGIN</h1>
			<div class="row">
				<input type="text" id="login-username" ng-model="main.loginUsername" placeholder="Username" required>
			</div>
			<div class="row">
				<input type="text" id="login-password" ng-model="main.loginPassword" placeholder="Password" required>
			</div>
			<div class="row">
			<button class="btn btn-success contact-us-button" type="button" ng-click="main.login()">Login!</button>
			</div>
		</div>
	</form>	
</div>