.footer-default-1{
	background-color: #455A64;
	border-color: #e7e7e7;
}

.footer-default-2{
    background-color: #37474F;
    border-color: #e7e7e7;
}

.footer-header{
    font-size: 24px;
    color:#fff;
}

.footer-content{
    font-size:18px;
    color:#EEEEEE;
}


.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #EEEEEE;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

/**Creates the border around the social media buttons**/
.circle-outline {
    margin-top: 15px;
    border: solid 2px #EEEEEE;
    font-size: 20px;
    color: #EEEEEE;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.circle-outline:hover,
.circle-outline:focus,
.circle-outline.active {
    color: #455A64;
    background: #EEEEEE;
}