.navbar{
    position: fixed;
	margin: 0px;
	top: 0px;
	right: 0px;
	left: 0px;

    border-radius: 0px;
    border-width: 0 0 0 0;

    min-height: 50px;

    padding-top:0px;
    padding-bottom: 0px;

	background-color: #fff;

    transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
}

.navbar-relative{
    border-width: 0 0 0 0;
	position: relative;
}

.navbar-fixed-top{
    border-width: 0 0 0 0;
    
    padding-right: 15px;
    position: fixed;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;

}

.navbar .navbar-collapse {
    text-align: right;
}

.navbar-pointer-triangle{
    content:"";
    width: 0;
    height: 0;
    margin-left: -56px;
    left: 50%;

    margin-top: 62px;

    border: 40px solid #fff;
    border-color: #fff #fff #fff #fff;

    transform-origin: 0 0;
    transform: rotate(-45deg);

    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.3);

    position: absolute;
    z-index:1031;
}

/* Need to cover up top part of the rhombus */
.navbar-pointer-rectangle{
    content: "";
    position: absolute;
    width: 112px;
    height: 62px;

    background: #fff;

    margin-left: -56px;
    left: 50%;

    z-index: 1032;
}

.navbar-transparent{
    background: transparent;
}

.navbar-transparent-cover{
    opacity: 0;
}

/*THIS IS BASED ON HEIGHT OF NAVBAR*/
.navbar-nav > li > a {
    margin-top: 5px;
}

.navbar-default div .nav .nav-item a{
    font-size: 18px;
    font-family: "Roboto Slab",Arial,sans-serif;
    color: #EC407A;
    transition: all 0.5s ease;

    opacity: 1 !important;
}


.navbar-default div .nav .nav-item a:hover{
	color: #000000;
    cursor: pointer;
    /*border-bottom: 1px solid #ecf0f1; REMOVE THIS LINE OF CSS ONCE THE JS ACTIVE IS COMPELTED*/
}

.navbar-default div .nav .nav-item a:focus,
.navbar-default div .nav .nav-item a:active{
    color: #000000;
    cursor: pointer;
    /* border-bottom: 1px solid #ecf0f1; */
}

.logo{
	padding-top: 16px;
    cursor: pointer;
}

#navbar-cover > div{
    transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;

    margin-top: -200px;
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        padding-right: 0px;
        border-top: 1px solid transparent;
    }
    .navbar-fixed-top {
		border-width: 0 0 0 0px;
    
        padding-right: 0px;
        position: fixed;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none;
	}
	.navbar-nav>li {
        float: none;
    }

    .collapse.in{
  		display:block !important;
	}
	
	.logo{
		padding-top: 0px;
		padding-bottom: 20px;
	}

    .navbar-nav > li > a {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .navbar::after{
        top: 50px;
        display: none;
    }

    .navbar-pointer-cover{
        height:5px;
        display: none;
    }
}

.nav-background-height{
    min-height:100px;
}
