.navbar{
    position: fixed;
	margin: 0px;
	top: 0px;
	right: 0px;
	left: 0px;

    border-radius: 0px;
    border-width: 0 0 0 0;

    min-height: 50px;

    padding-top:0px;
    padding-bottom: 0px;

	background-color: #fff;

    transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
}

.navbar-relative{
    border-width: 0 0 0 0;
	position: relative;
}

.navbar-fixed-top{
    border-width: 0 0 0 0;
    
    padding-right: 15px;
    position: fixed;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;

}

.navbar .navbar-collapse {
    text-align: right;
}

.navbar-transparent{
    background: transparent;
}

.navbar-transparent-cover{
    opacity: 0;
}

.navbar-logo{
    margin-left: 45px;
    padding-top: 8px;
    width: 50px;
    background: transparent;
}

/*THIS IS BASED ON HEIGHT OF NAVBAR*/
.navbar-nav > li > a {
    margin-top: 5px;
}

.navbar-default div .nav .nav-item a{
    font-size: 18px;
    font-family: "Roboto Slab",Arial,sans-serif;
    color: #d91b5b;
    transition: all 0.5s ease;

    opacity: 1 !important;

    padding-top: 20px;
}


.navbar-default div .nav .nav-item a:hover{
	color: #000000;
    cursor: pointer;
    /*border-bottom: 1px solid #ecf0f1; REMOVE THIS LINE OF CSS ONCE THE JS ACTIVE IS COMPELTED*/
}

.navbar-default div .nav .nav-item a:focus,
.navbar-default div .nav .nav-item a:active{
    color: #000000;
    cursor: pointer;
    /* border-bottom: 1px solid #ecf0f1; */
}

.logo{
	padding-top: 16px;
    cursor: pointer;
}

#navbar-cover > div{
    transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;

    margin-top: -200px;
}

@media (max-width: 992px) {
    .navbar {
        min-height: 125px;
    }

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        margin-top: 30px;
        margin-right: 30px;
        width: 66px;
        height: 62px;
    }
    .navbar-collapse {
        padding-right: 0px;
        border-top: 1px solid transparent;
    }

    .navbar-toggle .navbar-toggle-span{
        display: block;
        width: 100%;
        border-radius: 1px;
    }

    .margin-toggle-span{
        margin-top: 20% !important;
    }

    .navbar-fixed-top {
		border-width: 0 0 0 0px;
    
        padding-right: 0px;
        position: fixed;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none;
	}
	.navbar-nav>li {
        float: none;
    }

    .collapse.in{
  		display:block !important;
	}
	
    .navbar-logo{
        width: 90px;
        padding-top: 20px;
    }

	.logo{
		padding-top: 0px;
		padding-bottom: 20px;
	}

    .navbar-nav > li > a {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .navbar::after{
        top: 50px;
        display: none;
    }

    .navbar-pointer-cover{
        height:5px;
        display: none;
    }

    .navbar-default div .nav .nav-item a{
        font-size: 32px;
    }
}

.nav-background-height{
    min-height:100px;
}
